# 10 minutes to pandas

In [1]:
import pandas as pd
import numpy as np

### Data Structures:

Pandas provides two types of classes for handling data:

Series: a one-dimensional labeled array holding data of any type
such as integers, strings, Python objects etc.

DataFrame: a two-dimensional data structure that holds data like a two-dimension array or a table with rows and columns.

### Object Creation

In [3]:
# Creating series:
s = pd.Series([1, 3, 5, np.nan, 6, 8])
s

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

In [10]:
# Creating df by passing in np array:
dates = pd.date_range("20130101", periods=6)
print(dates)

df = pd.DataFrame(np.random.randn(6, 4), index=dates, columns=list("ABCD"))
df

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')

                   A         B         C         D
2013-01-01  0.497515  0.226525 -0.493950  0.862077
2013-01-02  0.182634 -1.678348  0.938700  1.491466
2013-01-03 -2.117637  0.666068 -2.267840  0.119374
2013-01-04  1.483779  0.257980 -1.763533  0.365092
2013-01-05 -0.683755 -0.025133 -0.770858  1.572680
2013-01-06 -0.912124 -0.055087 -1.265351  0.020260

In [11]:
# Creating df by passing in a dict of objects:
df2 = pd.DataFrame(
    {
        "A": 1.0,
        "B": pd.Timestamp("20130102"),
        "C": pd.Series(1, index=list(range(4)), dtype="float32"),
        "D": np.array([3] * 4, dtype="int32"),
        "E": pd.Categorical(["test", "train", "test", "train"]),
        "F": "foo", 
    }
)
df2

     A          B    C  D      E    F
0  1.0 2013-01-02  1.0  3   test  foo
1  1.0 2013-01-02  1.0  3  train  foo
2  1.0 2013-01-02  1.0  3   test  foo
3  1.0 2013-01-02  1.0  3  train  foo

In [12]:
# Observing the datatypes of columns:
df2.dtypes

A          float64
B    datetime64[s]
C          float32
D            int32
E         category
F           object
dtype: object

### Viewing Data

In [14]:
df.head()
df.tail()

                   A         B         C         D
2013-01-02  0.182634 -1.678348  0.938700  1.491466
2013-01-03 -2.117637  0.666068 -2.267840  0.119374
2013-01-04  1.483779  0.257980 -1.763533  0.365092
2013-01-05 -0.683755 -0.025133 -0.770858  1.572680
2013-01-06 -0.912124 -0.055087 -1.265351  0.020260

In [ ]:
# indicies:
print(df.index)

# columns:
print(df.columns)

# summary statistics:
print(df.describe())

# sort by columns (desc alphabetical):
print(df.sort_index(axis = 1, ascending = False))

# sort by column B (asc):
print(df.sort_values(by="B"))

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')
Index(['A', 'B', 'C', 'D'], dtype='object')
              A         B         C         D
count  6.000000  6.000000  6.000000  6.000000
mean  -0.258265 -0.101333 -0.937139  0.738491
std    1.254285  0.814914  1.122876  0.680692
min   -2.117637 -1.678348 -2.267840  0.020260
25%   -0.855032 -0.047598 -1.638987  0.180804
50%   -0.250560  0.100696 -1.018105  0.613584
75%    0.418795  0.250116 -0.563177  1.334119
max    1.483779  0.666068  0.938700  1.572680
                   D         C         B         A
2013-01-01  0.862077 -0.493950  0.226525  0.497515
2013-01-02  1.491466  0.938700 -1.678348  0.182634
2013-01-03  0.119374 -2.267840  0.666068 -2.117637
2013-01-04  0.365092 -1.763533  0.257980  1.483779
2013-01-05  1.572680 -0.770858 -0.025133 -0.683755
2013-01-06  0.020260 -1.265351 -0.055087 -0.912124
                   A         B         C         D
2013-01-02  0.182634 -1.678348  0.938700  1.491466
2013-01-06 -0.912124 -0.055087 -1.265351  0.020260
2013-01-05 -0.683755 -0.025133 -0.770858  1.572680
2013-01-01  0.497515  0.226525 -0.493950  0.862077
2013-01-04  1.483779  0.257980 -1.763533  0.365092
2013-01-03 -2.117637  0.666068 -2.267840  0.119374

### Selection

While standard Python / NumPy expressions for selecting and setting are intuitive and come in handy for interactive work, for production code, we recommend the optimized pandas data access methods, DataFrame.at(), DataFrame.iat(), DataFrame.loc() and DataFrame.iloc().

**Selection by label**

In [29]:
# selecting by first date
print(df.loc[dates[0]])

# selecting all rows, just columns A & B
print(df.loc[:, ["A", "B"]])

# select using label slicing
print(df.loc["20130102":"20130104", ["A", "B"]])

# select single row & column
df.loc[dates[0], "A"]

A    0.497515
B    0.226525
C   -0.493950
D    0.862077
Name: 2013-01-01 00:00:00, dtype: float64
                   A         B
2013-01-01  0.497515  0.226525
2013-01-02  0.182634 -1.678348
2013-01-03 -2.117637  0.666068
2013-01-04  1.483779  0.257980
2013-01-05 -0.683755 -0.025133
2013-01-06 -0.912124 -0.055087
                   A         B
2013-01-02  0.182634 -1.678348
2013-01-03 -2.117637  0.666068
2013-01-04  1.483779  0.257980

np.float64(0.49751522987362284)

**Selection by position**

In [37]:
# single row
print(df.iloc[3])

# row & columns using integer slices
print(df.iloc[3:5, 0:2])

# row & columns using position locations
print(df.iloc[[1,2,4],[0,2]])

# slicing just rows
print(df.iloc[1:3, :])

# slicing just cols
print(df.iloc[:,  1:3])

# geting just a value
print(df.iat[1,1])

A    1.483779
B    0.257980
C   -1.763533
D    0.365092
Name: 2013-01-04 00:00:00, dtype: float64
                   A         B
2013-01-04  1.483779  0.257980
2013-01-05 -0.683755 -0.025133
                   A         C
2013-01-02  0.182634  0.938700
2013-01-03 -2.117637 -2.267840
2013-01-05 -0.683755 -0.770858
                   A         B        C         D
2013-01-02  0.182634 -1.678348  0.93870  1.491466
2013-01-03 -2.117637  0.666068 -2.26784  0.119374
                   B         C
2013-01-01  0.226525 -0.493950
2013-01-02 -1.678348  0.938700
2013-01-03  0.666068 -2.267840
2013-01-04  0.257980 -1.763533
2013-01-05 -0.025133 -0.770858
2013-01-06 -0.055087 -1.265351
-1.678347739961592

**Boolean indexing (filtering)**

In [43]:
# rows where df.A > 0
print(df.loc[df["A"] > 0])

# note: it keeps only rows that are True
print(df["A"] > 0)

# use .isin() to filter for rows where E = two or E = four
df2 = df.copy()
df2["E"] = ["one", "one", "two", "three", "four", "three"]
df2[df2["E"].isin(["two", "four"])]

                   A         B         C         D
2013-01-01  0.497515  0.226525 -0.493950  0.862077
2013-01-02  0.182634 -1.678348  0.938700  1.491466
2013-01-04  1.483779  0.257980 -1.763533  0.365092
2013-01-01     True
2013-01-02     True
2013-01-03    False
2013-01-04     True
2013-01-05    False
2013-01-06    False
Freq: D, Name: A, dtype: bool

                   A         B         C         D     E
2013-01-03 -2.117637  0.666068 -2.267840  0.119374   two
2013-01-05 -0.683755 -0.025133 -0.770858  1.572680  four

### Missing data

In [46]:
# Reindexing allows you to change/add/delete the index on a specified axis. This returns a copy of the data:
# defining new df for demonstration:
df1 = df.reindex(index=dates[0:4], columns=list(df.columns) + ["E"])
df1.loc[dates[0] : dates[1], "E"] = 1
df1

                   A         B         C         D    E
2013-01-01  0.497515  0.226525 -0.493950  0.862077  1.0
2013-01-02  0.182634 -1.678348  0.938700  1.491466  1.0
2013-01-03 -2.117637  0.666068 -2.267840  0.119374  NaN
2013-01-04  1.483779  0.257980 -1.763533  0.365092  NaN

In [ ]:
# drop any rows that have missing data
print(df1.dropna(how="any"))

# fill missing data
print(df1.fillna(value=5))

# ask whether value .isna()
print(df1.isna())

                   A         B        C         D    E
2013-01-01  0.497515  0.226525 -0.49395  0.862077  1.0
2013-01-02  0.182634 -1.678348  0.93870  1.491466  1.0
                   A         B         C         D    E
2013-01-01  0.497515  0.226525 -0.493950  0.862077  1.0
2013-01-02  0.182634 -1.678348  0.938700  1.491466  1.0
2013-01-03 -2.117637  0.666068 -2.267840  0.119374  5.0
2013-01-04  1.483779  0.257980 -1.763533  0.365092  5.0
                A      B      C      D      E
2013-01-01  False  False  False  False  False
2013-01-02  False  False  False  False  False
2013-01-03  False  False  False  False   True
2013-01-04  False  False  False  False   True
                A      B      C      D      E
2013-01-01  False  False  False  False  False
2013-01-02  False  False  False  False  False
2013-01-03  False  False  False  False   True
2013-01-04  False  False  False  False   True

### Operations

Operations in general exclude missing data.

In [56]:
# mean for each column
print(df1.mean())

# mean for each row
print(df1.mean(axis=1))

A    0.011573
B   -0.131944
C   -0.896656
D    0.709502
E    1.000000
dtype: float64
2013-01-01    0.418433
2013-01-02    0.386891
2013-01-03   -0.900009
2013-01-04    0.085829
Freq: D, dtype: float64

DataFrame.agg() and DataFrame.transform() applies a user defined function that reduces or broadcasts its result respectively.

In [ ]:
print(df)

# obtain mean of each columns * 5.6 (axis = 0 means cols)
print(df.agg(lambda x: np.mean(x) * 5.6, axis = 0))

print()

# obtain mean of each columns * 5.6 (axis = 0 means rows)
print(df.agg(lambda x: np.mean(x) * 5.6, axis = 1))

                   A         B         C         D
2013-01-01  0.497515  0.226525 -0.493950  0.862077
2013-01-02  0.182634 -1.678348  0.938700  1.491466
2013-01-03 -2.117637  0.666068 -2.267840  0.119374
2013-01-04  1.483779  0.257980 -1.763533  0.365092
2013-01-05 -0.683755 -0.025133 -0.770858  1.572680
2013-01-06 -0.912124 -0.055087 -1.265351  0.020260
A   -1.446282
B   -0.567462
C   -5.247977
D    4.135552
dtype: float64

2013-01-01    1.529033
2013-01-02    1.308235
2013-01-03   -5.040050
2013-01-04    0.480645
2013-01-05    0.130107
2013-01-06   -3.097224
Freq: D, dtype: float64

In [63]:
s = pd.Series(np.random.randint(0, 7, size=10))

# value_counts
s.value_counts()

1    5
6    2
4    1
0    1
2    1
Name: count, dtype: int64

### String Methods

`Series` is equipped with a set of string processing methods in the str attribute that make it easy to operate on each element of the array, as in the code snippet below. See more at Vectorized String Methods.

In [67]:
s = pd.Series(["A", "B", "C", "Aaba", "Baca", np.nan, "CABA", "dog", "cat"])

# lowercase strings in series
print(s.str.lower())

0       a
1       b
2       c
3    aaba
4    baca
5     NaN
6    caba
7     dog
8     cat
dtype: object

### Merge

**concat**

In [ ]:
df = pd.DataFrame(np.random.randn(10, 4))
# break it into pieces
pieces = [df[:3],df[3:7],df[7:]]
pd.concat(pieces)

          0         1         2         3
0  0.967504 -0.222190  1.258392 -0.446559
1 -2.295918  1.175169  0.631987  1.578196
2 -1.362334 -0.731203  0.093932 -1.796230
3 -0.523967 -0.404163 -0.461698 -1.671936
4 -0.379785  1.081344 -0.341490 -0.496797
5 -0.250010  0.548817 -1.068532 -0.411181
6 -1.741627  0.014066  1.008420 -0.093421
7  1.696133 -0.872809  0.158298 -0.918889
8  0.483061 -0.970683  0.537155  0.385146
9  0.982474 -0.349198 -2.083494 -0.381319

**join**

`merge()` enables SQL style join types along specific columns. See the Database style joining section.

In [74]:
left = pd.DataFrame({"key": ["foo", "foo"], "lval": [1, 2]})
right = pd.DataFrame({"key": ["foo", "foo"], "rval": [4, 5]})

print(left)
print(right)

   key  lval
0  foo     1
1  foo     2
   key  rval
0  foo     4
1  foo     5

In [75]:
pd.merge(left, right, on = "key")

   key  lval  rval
0  foo     1     4
1  foo     1     5
2  foo     2     4
3  foo     2     5

### Grouping

In [76]:
df = pd.DataFrame(
    {
        "A": ["foo", "bar", "foo", "bar", "foo", "bar", "foo", "foo"],
        "B": ["one", "one", "two", "three", "two", "two", "one", "three"],
        "C": np.random.randn(8),
        "D": np.random.randn(8),
    }
)
df

     A      B         C         D
0  foo    one  0.112645 -1.646590
1  bar    one -0.429594  0.177073
2  foo    two  0.432912  1.042788
3  bar  three  2.082824  0.789077
4  foo    two  0.906776 -1.457188
5  bar    two  1.137725  0.480797
6  foo    one -1.083633 -0.377667
7  foo  three  0.245996  0.881025

In [80]:
# apply sum across cols C & D, grouped by A
df.groupby("A")[["C", "D"]].sum()

            C         D
A
bar  2.790955  1.446947
foo  0.614696 -1.557632

In [82]:
# apply sum across cols C & D, grouped by A, B
df.groupby(["A", "B"]).sum()

                  C         D
A   B
bar one   -0.429594  0.177073
    three  2.082824  0.789077
    two    1.137725  0.480797
foo one   -0.970988 -2.024258
    three  0.245996  0.881025
    two    1.339688 -0.414399

### Reshaping

### Time Series

### Categoricals

In [84]:
df = pd.DataFrame(
    {"id": [1, 2, 3, 4, 5, 6], "raw_grade": ["a", "b", "b", "a", "a", "e"]}
)
df.dtypes

id            int64
raw_grade    object
dtype: object

In [87]:
# setting raw_grade col into categorical:
df["grade"] = df["raw_grade"].astype("category")
df.dtypes

id              int64
raw_grade      object
grade        category
dtype: object

### Plotting

### Importing & Exporting